[Unit]
Description=OctoPrint Compose Service
Requires=docker.service dev-ttyAM8.device
After=docker.service dev-ttyAM8.device
StopWhenUnneeded=true
BindsTo=dev-ttyAM8.device

[Service]
User=ryan
Group=docker
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ryan/OctoPrint/octoprintDocker
ExecStart=/usr/local/bin/docker-compose --profile octo1 up -d
ExecStop=/usr/local/bin/docker-compose --profile octo1 down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

