[Unit]
Description=OctoPrint Compose Service
Requires=docker.service
After=docker.service

[Service]
User=ryan
Group=docker
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ryan/OctoPrint/octoprintDocker
ExecStart=/usr/local/bin/docker-compose --profile octo2 up -d
ExecStop=/usr/local/bin/docker-compose --profile octo2 down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

