[Unit]
Description=OctoPrint Compose Service
Requires=docker.service
After=docker.service

[Service]
User=pi
Group=pi
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/OctoPrint
ExecStart=/usr/local/bin/docker-compose --profile octo2 up -d
ExecStop=/usr/local/bin/docker-compose --profile octo2 down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

